<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper">
      {% include "shared/header" %}
    
  	  <article> 
  	  	<!-- <h2>{{headline}}</h2> -->
        <section role="main">

          <h3>Articles</h3>
          <ul>
          {% for item in articles %}
            {% include "shared/publication" %}
          {% endfor %}
          </ul>

          <h3>Submitted Manuscripts</h3>
          <ul>
          {% for item in manuscripts %}
            {% include "shared/publication" %}
          {% endfor %}
          </ul>

          <h3>Conference Presentation and Talks</h3>
          <ul>
          {% for item in conference %}
            {% include "shared/publication" %}
          {% endfor %}
          </ul>

		    </section>
  	  </article>
	  	  
      {% include "shared/footer" %}
    </section>
  </body>
  {% include "shared/analytics" %}
</html>